Source: mmc-shell
Section: misc
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: mmc-shell
Architecture: all
Depends: ${misc:Depends}, zsh
Conflicts: tt-tools (<< 1.13)
Recommends: mp3info, mpg123, gst123, systemd-container, alsa-utils, tdb-tools
Description: collection of shell scripts
